<!Doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Website is completly responsive for mobile and Desktop. See it in both devices.</p>
    <a href="/yearShow" class="w3-button w3-black">Click Here To See Magic.</a>
    <p>{{screamit message}}</p>

    {{> footer}}
  </body>
</html>
